
<main>
  <div class="ml-auto Post_button">
      <a class="btn btn-outline-dark" href="/posts/new" role="button">投稿</a>
  </div>

  <table class="table table-bordered border-primary table-hover table-sm posts_table">
  <thead class="thead-dark">
    <tr>
      <th scope="col" style="width: 40px">No.</th>
      <th scope="col" style="width: 700px">投稿タイトル</th>
      <th scope="col">投稿者</th>
      <th scope="col">いいねの数</th>
      <th scope="col">投稿日</th>
      <th scope="col">更新日時</th>
      <th scope="col">オプション</th>
    </tr>
  </thead>
  <tbody>
    <% @post.each do|post| %>
  <tr>
    <th><%= post.id %></th>
    <td><%= post.title %></td>
    <td><%= post.name %></td>
    <td><%= post.likes_count %></td>
    <td><%= post.created_at.to_s(:datetime_jp) %></td>
    <td ><%= post.updated_at.to_s(:datetime_jp) %></td>
    <td ><%= link_to "詳細","/posts/#{post.id}",class:'btn btn-outline-info',:style=>"color:green" %></td>
    <td><%= link_to "削除",post,class:'btn btn-outline-info', method: :delete %></td>
  </tr>
  <% end %>
 </tbody>
 </table>
 </main>
