<!DOCTYPE html>
<html>
  <head>
    <title>TweetAppRev3</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

  <header>
    <div class="user_mame">
      <div class="login-name">
        <% if user_signed_in?%>
          Now Login User <%=current_user.name%>
        <% else %>
          ゲストさん
        <% end %>
      </div>
    </div>
    <div class="top_header">
      <a href="/"><h1>Tweet_app</h1></a>
    </div>
    <div class="right_wrapper">
      <div class="new_menber">
        <a href="/users/sign_up"<h1>NewMenber/</h1></a>
      </div>
      <div class="login">
        <a href="/users/sign_in"<h1>Login/</h1></a>
      </div>
      <div class="logout">
        <%= link_to 'LOGOUT', destroy_user_session_path, method: :delete %>
      </div>
    </div>
  </header>

  <body>
    <%= yield %>
  </body>
</html>
